# ----------------------------
# Data Science & Visualization
# ----------------------------
pandas
numpy
matplotlib
seaborn
scipy

# ----------------------------
# Computer Vision & YOLO
# ----------------------------
ultralytics
opencv-python-headless

# ----------------------------
# MLOps & Experiment Tracking
# ----------------------------
dvc
mlflow
dagshub

# ----------------------------
# Web App & API
# ----------------------------
flask
flask-cors

# ----------------------------
# Utilities
# ----------------------------
gdown
PyYAML
python-box
ensure
joblib
tqdm

# ----------------------------
# Project Package
# ----------------------------
-e .
